body {
  background-color: #121725;
  margin: 0px;
  font-family: "Chivo", sans-serif;
  max-width: 100%;
}

.pod-logo {
  position: absolute;
  top: 5%;
  left: 10%;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.singer-pic {
  background-image: url("/assets/desktop/image-host.jpg");
  background-size: cover;
  width: 60%;
  height: 79vh;
}

.address-part {
  background-color: #121725;
  margin-left: 8%;
  display: flex;
  position: absolute;
  width: 50%;
  bottom: 10%;
  flex-direction: column;
  padding: 30px;
}

.header {
  font-size: 52px;
  color: #54e6af;
}

.header span {
  font-size: 52px;
  color: #ffffff;
}

.text {
  padding: 30px 276px 30px 0px;
  color: #c2cbe5;
  font-size: 18px;
  line-height: 27px;
}

.input-part {
  width: 370px;
}

.input-part input {
  width: 90%;
  background-color: #2c344b;
  padding: 18px 13px 18px 18px;
  border-radius: 30px;
  color: #ffffff;
  border-style: none;
  font-weight: bold;
  outline: none;
  /* overflow: hidden; */
}

.input-part button {
  padding: 15px;
  background-color: #54e6af;
  color: #121725;
  border-radius: 30px;
  border-style: none;
  font-weight: bold;
  margin-left: -139px;
  cursor: pointer;
  overflow: hidden;
}

button:hover {
  background-color: #b3ffe2;
}

.error {
  font-size: 12px;
  color: #fb3e3e;
  padding: 4px 0px 50px 15px;
}

.logo-part img {
  padding-right: 35px;
}

.dots-img {
  position: absolute;
  bottom: 5%;
  right: 0;
}
